module.exports = {
  apps: [
    {
      name: 'infinity_whatsapp',
      script: 'dist/src/main.js',
      instances: 1,
      autorestart: true,
      watch: false,
      env: {
        NODE_ENV: 'production',
      },
      port: 3000,
    },
  ],
};

